// colors
  // primary
$color-primary-cyan: hsl(180, 66%, 49%);
$color-primary-violet: hsl(257, 27%, 26%);

  // secondary
$color-secondary-red: hsl(0, 87%, 67%);

  // neutral
$color-neutral-gray: hsl(0, 0%, 75%);
$color-neutral-gray-violet:hsl(257, 7%, 63%);
$color-neutral-dark-blue:hsl(255, 11%, 22%);
$color-neutral-dark-violet:hsl(255, 11%, 22%);

// defaults
$font-family: 'Poppins', sans-serif;;
$font-size: 18px;

// breakpoints
$extra-small: 375px;
$small: 576px;
$medium: 768px;
$large: 1440px